@model PolizaJuridica.Data.PolizasAnteriores


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PolizasAnteriores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreInq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreInq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirecciónInq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirecciónInq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeléfonoInq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeléfonoInq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirecciónProp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirecciónProp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeléfonoProp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeléfonoProp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreInmob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreInmob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreDelAgente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreDelAgente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsoInmueb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsoInmueb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreProp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreProp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirecciónInmue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirecciónInmue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreAval)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreAval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirecciónAval)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirecciónAval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeléfonoAval)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeléfonoAval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImporteRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImporteRenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFirmaContrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFirmaContrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostoPóliza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostoPóliza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VigenciaContrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VigenciaContrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VigenciaPóliza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VigenciaPóliza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimerDiaVencimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimerDiaVencimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaDePagoRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaDePagoRenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NúmeroPóliza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NúmeroPóliza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentificadoComo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentificadoComo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EscrituraNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscrituraNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Volumen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Volumen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Libro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeFecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeFecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomNotario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomNotario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumNotario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumNotario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MunDel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MunDel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IfePro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IfePro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IfeInq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IfeInq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IfeAval)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IfeAval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailProp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailProp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailInquilino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailInquilino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAgenteInmob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAgenteInmob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreFiador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreFiador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailFiador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailFiador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OficinaPj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OficinaPj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EjecutivoPj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EjecutivoPj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgenteInmobiliario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgenteInmobiliario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DireccionDelFiador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DireccionDelFiador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFiador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoFiador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelInmobiliaria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelInmobiliaria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PolizasAnterioresId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
