@model PolizaJuridica.Data.Firmas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Firmas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFirma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFirma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreadaPor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreadaPor.UsuariosId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poliza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poliza.PolizaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
