@model IEnumerable<PolizaJuridica.Data.ReferenciaPersonal>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Seguimiento de Solicitud Persona Física</h4>
                <div>
                    <div class="card">
                        <div class="card-header card-header-tabs" data-background-color="red">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Datos:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="">
                                            @Html.ActionLink("Solicitud", "Edit", "Solicituds", new { id = ViewBag.Id, origen = 2 })
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Persona Física", "Edit", "FisicaMorals", new { id = ViewBag.Id })
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Arrendatarios", "Index", "Arrendatarios", new { id = ViewBag.Id })
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Referencias de Arrendamiento", "Edit", "RefArrendamientoes", new { id = ViewBag.Id })
                                        </li>
                                        <li class="active">
                                            <a href="" data-toggle="tab">
                                                <i class="material-icons">cloud</i>
                                                Referencias Personales
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Personas que Ocuparán el Inmueble", "Index", "PersonasOcupanInms", new { id = ViewBag.Id })
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Documentos", "Index", "Documentos", new { id = ViewBag.Id })
                                        </li>
                                        @if (ViewBag.Fiador == true)
                                        {
                                            <li class="">
                                                @Html.ActionLink("Fiador (P. Física)", "Index", "FiadorFs", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Fiador (P. Moral)", "Index", "FiadorMs", new { id = ViewBag.Id })
                                            </li>
                                        }
                                        @if ("Procesos" == User.FindFirst("Area").Value || "Administración" == User.FindFirst("Area").Value || "Control y Calidad" == User.FindFirst("Area").Value)
                                        {
                                            <li class="">
                                                @Html.ActionLink("Investigación", "Index", "Investigacions", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Generar Contrato", "VistaPrevia", "GenerarContrato", new { id = ViewBag.Id })
                                            </li>
                                        }
                                        <li class="">
                                            @Html.ActionLink("Estatus", "Index", "UsuariosSolicituds", new { id = ViewBag.Id })
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Generar Solicitudes", "Index", "GenerarSolicitudes", new { id = ViewBag.Id })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="tab-content">
                                <!--Inicio de Secccion 1-->
                                <div class="tab-pane active" id="2">
                                    <!--INICIO Seccion dentro del tab-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="card-title">Listado de Referencias Personales</h4>
                                            <div class="toolbar" align="right">
                                                <a href="" data-toggle="modal" data-target="#Create" class="btn btn-finish btn-fill btn-red btn-wd">Nueva Referencia</a>
                                            </div>
                                            <div class="material-datatables">
                                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"  style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Nombre(s)
                                                            </th>
                                                            <th>
                                                                Apellido Paterno
                                                            </th>
                                                            <th>
                                                                Apellido Materno
                                                            </th>
                                                            <th>
                                                                Teléfono
                                                            </th>
                                                            <th>
                                                                Tipo Referencia
                                                            </th>
                                                            <th class="disabled-sorting text-right">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Rpnombres)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.RpapePaterno)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.RpApeMaterno)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Rptelefono)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.TipoRefPersonal.TipoRefPersonalDesc)
                                                                </td>
                                                                <td>
                                                                    <a href="" data-toggle="modal" data-target="#Delete" class="pull-right" onclick="getDataAjax('@item.ReferenciaPersonalId','ReferenciaPersonals/EditAjax')"><i class="material-icons">close</i></a>
                                                                    <a href="" data-toggle="modal" data-target="#Edit" class="pull-right" onclick="getDataAjaxEdit('@item.ReferenciaPersonalId','ReferenciaPersonals/EditAjax')"><i class="material-icons">edit</i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end col-md-12 -->
                                    </div>
                                    <!--FIN Seccion dentro del tab-->
                                    @*<div class="form-group">
                                        <a asp-controller="RefArrendamientoes" asp-action="Edit" asp-route-id="@ViewBag.Id" class="btn btn-default pull-left">Atrás</a>
                                        <a asp-controller="PersonasOcupanInms" asp-action="Index" asp-route-id="@ViewBag.Id" class="btn btn-primary pull-right">Siguiente</a>
                                    </div>*@
                                </div>
                            </div>
                            <!--Fin de Seccion 1-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end row -->
    <!--Seccion de Modal-->
    <!-- Modal -->
    <!--Create-->
    <div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear Referencia Personal</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" hidden>
                            <input for="ReferenciaPersonalId" name="ReferenciaPersonalId" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="RPNombres" class="control-label">Nombre</label>
                            <input for="RPNombres" name="RPNombres" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="RPApePaterno" class="control-label">Apellido Paterno</label>
                            <input for="RPApePaterno" name="RPApePaterno" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="RPApeMaterno" class="control-label">Apellido Materno</label>
                            <input for="RPApeMaterno" name="RPApeMaterno" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="RPTelefono" class="control-label">Telefono</label>
                            <input for="RPTelefono" name="RPTelefono" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo referencia</label>
                            <select name="TipoRefPersonalId" class="form-control" asp-items="ViewBag.TipoRefPersonalDesc"></select>
                        </div>
                        <div class="form-group" hidden>
                            <label for="FisicaMoralId" class="control-label"></label>
                            <input for="FisicaMoralId" name="FisicaMoralId" value="@ViewBag.id" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="setDataAddRefArren('ReferenciaPersonals/Insertar')">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Create-->
    <!--Edit-->
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Referencia de Arrendamiento</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" hidden>
                            <input for="Id" name="Id" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input for="Nombres" name="Nombres" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Apellido Paterno</label>
                            <input for="ApePaterno" name="ApePaterno" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Apellido Materno</label>
                            <input for="ApeMaterno" name="ApeMaterno" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Telefono</label>
                            <input for="Telefono" name="Telefono" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo referencia</label>
                            <select name="TipoRefPersonalId" class="form-control" asp-items="ViewBag.TipoRefPersonalDesc" ><option>Seleccione una opción</option></select>
                        </div>
                        <div class="form-group" hidden>
                            <label class="control-label"></label>
                            <input for="FisicaMoralIdEdit" name="FisicaMoralIdEdit" value="@ViewBag.id" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="setDataRefArren('ReferenciaPersonals/EditRefArrenAjax')">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Edit-->
    <!--Delete-->
    <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Eliminar
                        Referencia de Arrendamiento
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" hidden>
                            <input for="ReferenciaPersonalId" name="ReferenciaPersonalId" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="RPNombres" class="control-label">Nombre</label>
                            <input for="RPNombres" name="RPNombres" class="form-control" disabled />

                        </div>
                        <div class="form-group">
                            <label for="RPApePaterno" class="control-label">Apellido Paterno</label>
                            <input for="RPApePaterno" name="RPApePaterno" class="form-control" disabled />

                        </div>
                        <div class="form-group">
                            <label for="RPApeMaterno" class="control-label">Apellido Materno</label>
                            <input for="RPApeMaterno" name="RPApeMaterno" class="form-control" disabled />

                        </div>
                        <div class="form-group">
                            <label for="RPTelefono" class="control-label">Telefono</label>
                            <input for="RPTelefono" name="RPTelefono" class="form-control" disabled />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo referencia</label>
                            <select name="TipoRefPersonalId" class="form-control" asp-items="ViewBag.TipoRefPersonalDesc" disabled></select>
                        </div>
                        <div class="form-group" hidden>
                            <label for="FisicaMoralId" class="control-label"></label>
                            <input for="FisicaMoralId" name="FisicaMoralId" value="@ViewBag.id" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="MensajeError()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Delete-->
    @section Scripts
        {
        <script type="text/javascript">
            var item;
            var rpNombres;
            var rpApePaterno;
            var rpApeMaterno;
            var rpTelefono;
            var FisicaMoralId;
            var referenciaPersonalId;
            var id;
            var ripoReferenciaPersonalId;
            var tipoRefPersonalId
            /*Agregamos un registro*/
            function setDataAddRefArren(action) {

                referenciaPersonalId = $('input[name=ReferenciaPersonalId')[0].value;
                rpNombres = $('input[name=RPNombres')[0].value;
                rpApePaterno = $('input[name=RPApePaterno')[0].value;
                rpApeMaterno = $('input[name=RPApeMaterno')[0].value;
                rpTelefono = $('input[name=RPTelefono')[0].value;
                FisicaMoralId = $('input[name=FisicaMoralId')[0].value;
                TipoRefPersonalId = $('select[name=TipoRefPersonalId]').val();
                $.ajax({
                    type: "POST",
                    url: "../../" + action,
                    data: {
                        referenciaPersonalId, rpNombres, rpApePaterno, rpApeMaterno, rpTelefono, FisicaMoralId, TipoRefPersonalId
                    },
                    success: function (response) {
                        if (response == "Save") {
                            window.location.reload(true);
                        }
                    }
                });
            }

            function getDataAjax(id, action) {
                limpiar();
                $.ajax({
                    type: "POST",
                    url: "../../" + action,
                    data: { id },
                    success: function (response) {
                        //console.log(response);
                        onSuccess(response);
                    }
                });
            }
            function onSuccess(response) {
                item = response;
                $.each(item, function (idex, valor) {
                    $('input[name=ReferenciaPersonalId').val(valor.referenciaPersonalId);
                    $('input[name=RPNombres').val(valor.rpnombres);
                    $('input[name=RPApePaterno').val(valor.rpapePaterno);
                    $('input[name=RPApeMaterno').val(valor.rpApeMaterno);
                    $('input[name=RPTelefono').val(valor.rptelefono);
                    $('input[name=FisicaMoralId').val(valor.fisicaMoralId);
                    $('select[name=TipoRefPersonalId').val(valor.tipoRefPersonalId);
                });
            }
            function getDataAjaxEdit(id, action) {
                limpiar();
                $.ajax({
                    type: "POST",
                    url: "../../" + action,
                    data: { id },
                    success: function (response) {
                        console.log(response);
                        onSuccessEdit(response);
                    }
                });
            }
            function onSuccessEdit(response) {
                item = response;
                $.each(item, function (idex, valor) {
                    $('input[name=Id').val(valor.referenciaPersonalId);
                    $('input[name=Nombres').val(valor.rpnombres);
                    $('input[name=ApePaterno').val(valor.rpapePaterno);
                    $('input[name=ApeMaterno').val(valor.rpApeMaterno);
                    $('input[name=Telefono').val(valor.rptelefono);
                    $('input[name=FisicaMoralId').val(valor.fisicaMoralId);
                    $('select[name=TipoRefPersonalId').val(valor.tipoRefPersonalId);
                });
            }
            /*Modificamos usuario*/
            function setDataRefArren(action) {

                referenciaPersonalId = $('input[name=Id')[0].value;
                rpNombres = $('input[name=Nombres')[0].value;
                rpApePaterno = $('input[name=ApePaterno')[0].value;
                rpApeMaterno = $('input[name=ApeMaterno')[0].value;
                rpTelefono = $('input[name=Telefono')[0].value;
                FisicaMoralId = $('input[name=FisicaMoralIdEdit')[0].value;
                TipoRefPersonalId = $('select[name=TipoRefPersonalIdEdit]').val();

                $.ajax({
                    type: "POST",
                    url: "../../" + action,
                    data: {
                        referenciaPersonalId, rpNombres, rpApePaterno, rpApeMaterno, rpTelefono, FisicaMoralId, TipoRefPersonalId
                    },
                    success: function (response) {
                        if (response == "Save") {
                            window.location.reload(true);
                        }
                    }
                });
            }
            /*Eliminamos*/
            function setDataDeleteRefArren(action) {

                id = $('input[name=ReferenciaPersonalId')[0].value;


                $.each(item, function (idex, valor) {
                    valor.refArrenId = id;
                });

                $.ajax({
                    type: "POST",
                    url: "../../" + action,
                    data: {
                        id
                    },
                    success: function (response) {
                        if (response == "Save") {
                            swal({
                                title: '¿Estas Seguro?',
                                text: 'Se eliminara de forma permanente.',
                                type: 'success',
                                confirmButtonClass: "btn btn-success",
                                buttonsStyling: false
                            })
                            setTimeout(function () {
                                window.location.reload(true);
                            }, 2000);
                        }
                    }
                });
            }
            function MensajeError() {
                swal({
                    title: '¿Estas Seguro?',
                    text: "Se eliminara de forma permanente",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Si, Eliminarlo!',
                    buttonsStyling: false
                }).then(function () {
                    setDataDeleteRefArren('ReferenciaPersonals/DeleteConfirmed');
                });


            }
            /*fin de eliminar*/
            /*Limpiamos*/
            function limpiar() {
                item = "";
                rpNombres = "";
                rpApePaterno = "";
                rpApeMaterno = "";
                rpTelefono = "";
                FisicaMoralId = "";
                referenciaPersonalId = "";
                id = "";
                tipoRefPersonalId = 0;

            }</script>
    }
