@model PolizaJuridica.Data.Arrendatario

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Solicitud de Arrendatario</h4>
                <div>
                    <form asp-action="Delete">
                        <div class="card">
                            <div class="card-header card-header-tabs" data-background-color="red">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <span class="nav-tabs-title">Datos:</span>
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active">

                                                @if (@ViewBag.TipoRegimen == 1)
                                                {
                                                    <a href="#1" data-toggle="tab">
                                                        <i class="material-icons">bug_report</i>
                                                        Persona Fisica
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                }
                                                @if (@ViewBag.TipoRegimen == 2)
                                                {
                                                    <a href="#1" data-toggle="tab">
                                                        <i class="material-icons">bug_report</i>
                                                        Persona Moral
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                }

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                @if (@ViewBag.TipoRegimen == 1)
                                {
                                    <div class="tab-content">
                                        <!--Inicio de Secccion 1-->
                                        <div class="tab-pane active" id="1">
                                            <div class="row">
                                                <div class="col-md-3" hidden>
                                                    <div class="form-group label-floating" id="NombreError">
                                                        <input asp-for="ArrendatarioId"  class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="NombreError">
                                                        <label class="control-label"><star>*</star>Nombre(s)</label>
                                                        @Html.DisplayFor(model => model.Nombre)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="ApePatError">
                                                        <label class="control-label"><star>*</star>Apellido Paterno </label>
                                                        @Html.DisplayFor(model => model.ApePaterno)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="ApeMat">
                                                        <label class="control-label">Apellido Materno</label>
                                                        @Html.DisplayFor(model => model.ApeMaterno)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="RFCError">
                                                        <label class="control-label">RFC</label>
                                                        @Html.DisplayFor(model => model.Rfc)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="NacionallidadError">
                                                        <label class="control-label"><star>*</star>Nacionalidad</label>
                                                        @Html.DisplayFor(model => model.Nacionalidad)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="CondMigratoriaError">
                                                        <label class="control-label">Condición Migratoria </label>
                                                        @Html.DisplayFor(model => model.CondMigratoria)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="EstadoCivilError">
                                                        <label class="control-label">Estado Civil</label>
                                                        @Html.DisplayFor(model => model.EstadoCivil)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="ConvenioECError">
                                                        <label class="control-label">Convenio</label>
                                                        @Html.DisplayFor(model => model.ConvenioEc)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating" id="TipoIdentificacionError">
                                                        <label class="control-label">Tipo de identificación</label>
                                                        @Html.DisplayFor(model => model.TipoIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating" id="NumeroIdentificacionError">
                                                        <label class="control-label">Número de Identificación </label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group label-floating" id="DomicilioError">
                                                        <label class="control-label"><star>*</star>Domicilio</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating" id="ColoniaError">
                                                        <label class="control-label"><star>*</star>Colonia</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating" id="DelegacionMunicipioError">
                                                        <label class="control-label"><star>*</star>Alcaldía/Municipio</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating" id="CodigoPostalError">
                                                        <label class="control-label"><star>*</star>Código Postal</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating" id="EstadoError">
                                                        <label class="control-label"><star>*</star>Estado</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="TelefonoError">
                                                        <label class="control-label">Teléfono</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="CelularError">
                                                        <label class="control-label"><star>*</star>Celular</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="EmailError">
                                                        <label class="control-label"><star>*</star>Email</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating" id="ProfesionError">
                                                        <label class="control-label">Profesión</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating" id="IngresoMensualError">
                                                        <label class="control-label">Ingreso Mensual</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating" id="TrabajoError">
                                                        <label class="control-label">Empresa donde trabaja</label>
                                                        @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Antigüedad </label>
                                                        @Html.DisplayFor(model => model.Antiguedad)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Puesto</label>
                                                        @Html.DisplayFor(model => model.Puesto)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Teléfono</label>
                                                        @Html.DisplayFor(model => model.TelefonoTrabajo)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Horario</label>
                                                        @Html.DisplayFor(model => model.Horario)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Giro</label>
                                                        @Html.DisplayFor(model => model.GiroTrabajo)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Sitio WEB</label>
                                                        @Html.DisplayFor(model => model.WebTrabajo)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Domicilio del trabajo</label>
                                                        @Html.DisplayFor(model => model.DomicilioTrabajo)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Colonia</label>
                                                        @Html.DisplayFor(model => model.ColoniaTrabajo)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Alcaldía/Municipio</label>
                                                        @Html.DisplayFor(model => model.DelegMuniTrabajo)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Código Postal</label>
                                                        @Html.DisplayFor(model => model.CodigoPostalTrabajo)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Estado</label>
                                                        @Html.DisplayFor(model => model.EstadoTrabajo)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Jefe</label>
                                                        @Html.DisplayFor(model => model.JefeTrabajo)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Puesto</label>
                                                        @Html.DisplayFor(model => model.PuestoJefe)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Email</label>
                                                        @Html.DisplayFor(model => model.EmailJefe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="checkbox">
                                                    <label>
                                                        Requiere de comprobante fiscal para el arrendamiento.
                                                        @Html.DisplayFor(model => model.Factura)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (@ViewBag.TipoRegimen == 2)
                                {
                                    <div class="tab-content">
                                        <!--Inicio de Secccion 1-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="RazonSocialError">
                                                    <label class="control-label"><star>*</star>Razón Social</label>
                                                    @Html.DisplayFor(model => model.RazonSocial)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="RFCError">
                                                    <label class="control-label"><star>*</star>RFC</label>
                                                    @Html.DisplayFor(model => model.Rfc)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating" id="NombreError">
                                                    <label class="control-label"><star>*</star>Nombre(s) Representante Legal</label>
                                                    @Html.DisplayFor(model => model.Nombre)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating" id="ApePatError">
                                                    <label class="control-label"><star>*</star>Apellido Paterno Representante Legal </label>
                                                    @Html.DisplayFor(model => model.ApePaterno)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating" id="ApeMatError">
                                                    <label class="control-label"><star>*</star>Apellido Materno Representate Legal</label>
                                                    @Html.DisplayFor(model => model.ApeMaterno)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="TipoIdentificacionError">
                                                    <label class="control-label">Tipo de identificación</label>
                                                    @Html.DisplayFor(model => model.TipoIdentificacion)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="NumeroIdentificacionError">
                                                    <label class="control-label">Número de Identificación </label>
                                                    @Html.DisplayFor(model => model.NumeroIdentificacion)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Teléfono</label>
                                                    @Html.DisplayFor(model => model.Telefono)
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Giro de la Empresa</label>
                                                    @Html.DisplayFor(model => model.GiroTrabajo)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating" id="DomicilioError">
                                                    <label class="control-label"><star>*</star>Domicilio Empresa</label>
                                                    @Html.DisplayFor(model => model.Domicilio)
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating" id="ColoniaError">
                                                    <label class="control-label"><star>*</star>Colonia</label>
                                                    @Html.DisplayFor(model => model.Colonia)
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating" id="DelegacionMunicipioError">
                                                    <label class="control-label"><star>*</star>Alcaldía ó Municipio</label>
                                                    @Html.DisplayFor(model => model.DelegacionMunicipio)
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating" id="CodigoPostalError">
                                                    <label class="control-label"><star>*</star>Código Postal</label>
                                                    @Html.DisplayFor(model => model.CodigoPostal)
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating" id="EstadoError">
                                                    <label class="control-label"><star>*</star>Estado</label>
                                                    @Html.DisplayFor(model => model.Estado)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="NacionallidadError">
                                                    <label class="control-label"><star>*</star>Nacionalidad</label>
                                                    @Html.DisplayFor(model => model.Nacionalidad)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Condición Migratoria</label>
                                                    @Html.DisplayFor(model => model.CondMigratoria)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating" id="ActaConstitutivaError">
                                                    <label class="control-label"><star>*</star>Acta Constitutiva No.</label>
                                                    @Html.DisplayFor(model => model.ActaConstitutiva)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating" id="PoderRepresentanteNoError">
                                                    <label class="control-label"><star>*</star>Podel Rep. Legal No.</label>
                                                    @Html.DisplayFor(model => model.PoderRepresentanteNo)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="DomicilioRepresentanteLegalError">
                                                    <label class="control-label"><star>*</star>Domicilio Particular del Representante Legal</label>
                                                    @Html.DisplayFor(model => model.DomicilioRepresentanteLegal)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating" id="ColoniaRLError">
                                                    <label class="control-label"><star>*</star>Colonia</label>
                                                    @Html.DisplayFor(model => model.ColoniaRl)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating" id="DeleMuniError">
                                                    <label class="control-label"><star>*</star>Alcaldía ó Municipio</label>
                                                    @Html.DisplayFor(model => model.DeleMuni)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating" id="CodigoPostalTrabajoError">
                                                    <label class="control-label"><star>*</star>Código Postal</label>
                                                    @Html.DisplayFor(model => model.CodigoPostalTrabajo)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating" id="EstadoRLError">
                                                    <label class="control-label"><star>*</star>Estado</label>
                                                    @Html.DisplayFor(model => model.EstadoRl)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="TelefonoRLError">
                                                    <label class="control-label"><star>*</star>Celular </label>
                                                    @Html.DisplayFor(model => model.TelefonoRl)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating" id="EmailRLError">
                                                    <label class="control-label"><star>*</star>Email</label>
                                                    @Html.DisplayFor(model => model.EmailRl)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Jefe Inmediato</label>
                                                    @Html.DisplayFor(model => model.JefeTrabajo)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Puesto</label>
                                                    @Html.DisplayFor(model => model.Puesto)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Teléfono</label>
                                                    @Html.DisplayFor(model => model.TelefonoTrabajo)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Página WEB</label>
                                                    @Html.DisplayFor(model => model.WebTrabajo)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Horario de la empresa</label>
                                                    @Html.DisplayFor(model => model.HorarioRl)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Ingreso mensual de la empresa</label>
                                                    @Html.DisplayFor(model => model.IngresoMensualRl)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Sindicato Afiliado</label>
                                                    @Html.DisplayFor(model => model.SindicadoRl)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <!--Fin de Seccion 4-->
                        </div>
                        <button asp-controller="arrendatarios" asp-action="Index" asp-route-Id="@ViewBag.Id" class="btn btn-danger pull-left">Regresar</button>
                        <input type='submit' class='btn btn-primary btn-fill btn-wd pull-right' value='Eliminar' />
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
$(document).ready(function() {
            function Mensaje(mensaje) {
                $.notify({
                    icon: "add_alert",
                    message:mensaje

                },{
                        type: "danger",
                        timer: 10000,
                        placement: {
                            from: "top",
                            align: "right"
                        }
                    });
            }
            function MensajeExitoso() {
                $.notify({
                    icon: "add_alert",
                    message: "Se guardaron los cambios"

                }, {
                        type: "success",
                        timer: 10000,
                        placement: {
                            from: "top",
                            align: "right"
                        }
                    });
            }
            function MensajeCampos(id) {
                id = '#' + id;
                console.log(id);
                $(id).addClass('has-error');
            }
           @if (@ViewData["Error"] != null)
           {
               List<string> errors = ViewData["Error"] as List<string>;
                @foreach(var e in errors)
                {
                    @:Mensaje("@e");
                }
           }

            @if (@ViewData["CamposError"] != null)
           {
               List<string> CamposError = ViewData["CamposError"] as List<string>;
                @foreach(var er in CamposError)
                {
                    @:MensajeCampos("@er");
                }
           }
             @if (@ViewData["Exitoso"] != null)
           {
                    @:MensajeExitoso();
           }
        });</script>
}
