@model IEnumerable<PolizaJuridica.Data.Arrendatario>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                @if (@ViewBag.TipoRegimen == 1)
                {
                    <h4 class="card-title">Seguimiento de Solicitud Persona Física</h4>
                }
                @if (@ViewBag.TipoRegimen == 2)
                {
                    <h4 class="card-title">Seguimiento de Solicitud Persona Moral</h4>
                }
                <div>
                    <div class="card">
                        <div class="card-header card-header-tabs" data-background-color="red">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Datos:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="">
                                            @Html.ActionLink("Solicitud", "Edit", "Solicituds", new { id = ViewBag.Id, origen = 2 })
                                        </li>
                                        @if (@ViewBag.TipoRegimen == 1)
                                        {
                                            <li class="">
                                                @Html.ActionLink("Arrendatario (P. Física)", "Edit", "FisicaMorals", new { id = ViewBag.Id })
                                            </li>
                                            <li class="active">
                                                <a href="#1" data-toggle="tab">
                                                    <i class="material-icons">bug_report</i>
                                                    Arrendatarios
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Referencias de Arrendamiento", "Edit", "RefArrendamientoes", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Referencias de Personales", "Index", "ReferenciaPersonals", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Personas que Ocuparán el Inmueble", "Index", "PersonasOcupanInms", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Documentos", "Index", "Documentos", new { id = ViewBag.Id })
                                            </li>
                                        }
                                        @if (@ViewBag.TipoRegimen == 2)
                                        {
                                            <li class="">
                                                @Html.ActionLink("Arrendatario (P. Moral)", "Edit", "FisicaMorals", new { id = ViewBag.Id })
                                            </li>
                                            <li class="active">
                                                <a href="#1" data-toggle="tab">
                                                    <i class="material-icons">bug_report</i>
                                                    Arrendatarios
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Referencias de Arrendamiento", "Edit", "RefArrendamientoes", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Referencias Comerciales", "Index", "ReferenciaComercials", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Documentos", "Index", "Documentos", new { id = ViewBag.Id })
                                            </li>
                                        }

                                        @if (ViewBag.Fiador == true)
                                        {
                                            <li class="">
                                                @Html.ActionLink("Fiador (P. Física)", "Index", "FiadorFs", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Fiador (P. Moral)", "Index", "FiadorMs", new { id = ViewBag.Id })
                                            </li>
                                        }


                                        @if ("Procesos" == User.FindFirst("Area").Value || "Administración" == User.FindFirst("Area").Value || "Control y Calidad" == User.FindFirst("Area").Value)
                                        {
                                            <li class="">
                                                @Html.ActionLink("Investigación", "Index", "Investigacions", new { id = ViewBag.Id })
                                            </li>
                                            <li class="">
                                                @Html.ActionLink("Generar Contrato", "VistaPrevia", "GenerarContrato", new { id = ViewBag.Id })
                                            </li>
                                        }
                                        <li class="">
                                            @Html.ActionLink("Estatus", "Index", "UsuariosSolicituds", new { id = ViewBag.Id })
                                        </li>
                                        <li class="">
                                            @Html.ActionLink("Generar Solicitudes", "Index", "GenerarSolicitudes", new { id = ViewBag.Id })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="tab-content">
                                <!--Inicio de Secccion 1-->
                                <div class="tab-pane active" id="2">
                                    <!--INICIO Seccion dentro del tab-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="card-title">Listado de Arrendatarios</h4>
                                            <div class="toolbar" align="right">
                                                <a asp-action="Create" asp-route-id="@ViewBag.Id" asp-route-TipoId="1" class="btn btn-finish btn-fill btn-red btn-wd">Nuevo (P. Física)</a>
                                                <a asp-action="Create" asp-route-id="@ViewBag.Id" asp-route-TipoId="2"class="btn btn-finish btn-fill btn-red btn-wd">Nuevo (P. Moral)</a>
                                            </div>
                                            <div class="material-datatables">
                                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Apellido Paterno
                                                            </th>
                                                            <th>
                                                                Apellido Materno
                                                            </th>
                                                            <th>
                                                                RFC
                                                            </th>
                                                            <th>
                                                                Régimen Fiscal
                                                            </th>
                                                            <th class="disabled-sorting text-right">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Nombre)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ApePaterno)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ApeMaterno)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Rfc)
                                                            </td>
                                                            @if (item.TipoRegimenFiscal == 1)
                                                            {
                                                                <td>
                                                                    Física
                                                                </td>

                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    Moral
                                                                </td>
                                                            }
                                                            <td>
                                                                <a asp-action="Delete" asp-route-id="@item.ArrendatarioId" class="pull-right"><i class="material-icons">close</i></a>
                                                                <a asp-action="Edit" asp-route-id="@item.ArrendatarioId" class="pull-right"><i class="material-icons">edit</i></a>
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end col-md-12 -->
                                    </div>
                                    <!--FIN Seccion dentro del tab-->
                                    @*<div class="form-group">
                                            <a asp-controller="Documentos" asp-action="Index" asp-route-id="@ViewBag.Id" class="btn btn-default pull-left">Atrás</a>
                                            <a asp-controller="FiadorMs" asp-action="Index" asp-route-id="@ViewBag.Id" class="btn btn-primary pull-right">Siguiente</a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <!--Fin de Seccion 1-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

@section Scripts
    {

}